h1{
    color: red;
    text-align: center;
}

.nav-bar{
    background-color: rgb(55, 53, 63);
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 40px;
}
.social-icons{
    color: white;
    display: flex;
    justify-content: space-evenly;
    width: 200px;
}
.social-icons :hover{
    color: rgb(124, 180, 149);
    display: flex;
    justify-content: space-evenly;
    width: 200px;
}

.nav-bar a{
    text-decoration: none;
    color: rgb(197, 216, 246);
    font-size: 18px;
}
.nav-bar a:hover{
    text-decoration: none;
    color: red;
    font-size: 18px;
}

span{
    margin-right: 10px;
}